<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="org.client.scrcpy">

    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:name=".App"
        android:allowBackup="true"
        android:extractNativeLibs="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        android:hardwareAccelerated="true"
        android:usesCleartextTraffic="true">

        <meta-data android:name="com.samsung.android.multidisplay.keep_process_alive" android:value="true" />
        <meta-data android:name="com.sec.android.support.multiwindow" android:value="true" />
        <meta-data android:name="com.samsung.android.keepalive.density" android:value="true" />
        <meta-data android:name="android.max_aspect" android:value="10.0" />
        <meta-data android:name="android.allow_multiple_resumed_activities" android:value="true" />

        <service
            android:name=".Scrcpy"
            android:enabled="true"
            android:exported="true"></service>
        <service android:name=".FloatService" />

        <activity
            android:name=".MainActivity"
            android:exported="true"
            android:resizeableActivity="true"
            android:configChanges="orientation|screenSize|smallestScreenSize|density|screenLayout|uiMode">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
                <category android:name="com.oculus.intent.category.2D" />
            </intent-filter>

            <property
                android:name="android.window.layout"
                android:resource="@xml/panel_window_layout" />

            <meta-data
                android:name="com.oculus.vrshell.supports_free_resizing"
                android:value="true" />
            <meta-data
                android:name="com.oculus.vrshell.free_resizing_lock_aspect_ratio"
                android:value="false" />
        </activity>

    </application>

</manifest>
